<html>
	<head>
		<title>App per turisti di Mannheim in visita a Rovereto</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<!-- FONT PER MATERIAL CON ICONE -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
		<!-- CSS DI MATERIAL CON TEMA DEFAULT -->
		<link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/vue-material.min.css">
		<link rel="stylesheet" href="https://unpkg.com/vue-material@beta/dist/theme/default.css">
		<!-- VUE FRAMEWORK -->
	    <script src="https://unpkg.com/vue"></script>
	    <!-- VUE MATERIAL -->
	    <script src="https://unpkg.com/vue-material@beta"></script>
	    <!-- VUE ROUTER -->
	    <script src="https://unpkg.com/vue-router"></script>
	    <!-- Componente per le stelline del voto -->
	    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet"/>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  		<script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
	    
		<style>
			#app {
				height: 100vh;
			}
			
  			.md-bottom-bar {
				top: auto;
				right: auto;
				bottom: 0px;
				left: auto;
				position: fixed;
			}
				  
		</style>
	</head>

	<body>
		<div id="app">
			<md-app> <!-- md-waterfall md-mode="fixed" sembra non sortire effetto, quindi metto la barra in basso con un css -->
				
				<md-app-toolbar class="md-primary">					
		            <md-button class="md-icon-button" v-on:click="tornaIndietro" 
		            								  v-if="indietroVisibile" >
		            								  
		              <md-icon>keyboard_arrow_left</md-icon>
		            </md-button>
					<span class="md-title">Visitare Rovereto da Mannheim</span>
				</md-app-toolbar>
				
				
				<!-- Con una risoluzione da cellulare, il cassetto laterale sparisce perché md-permanent -->
				<md-app-drawer md-permanent="full">						
					<md-toolbar class="md-transparent" md-elevation="0">
						<div class="md-toolbar-row">
							<!-- il titolo è più grande -->
							<span class="md-title">Rovereto Path Finder</span>
						</div>
		          		<div class="md-toolbar-row">
							Scegliere un'opzione
						</div>
		        	</md-toolbar>
					<md-list>
						<md-list-item to="/grigliaPercorsi">
							<md-icon>nature_people</md-icon>
							<span class="md-list-item-text">Percorsi</span>
						</md-list-item>
						<md-divider class="md-inset"></md-divider>
						<md-list-item to="/auto">
							<md-icon>directions_car</md-icon>
							<span class="md-list-item-text">Auto</span>
						</md-list-item>
						<md-list-item to="/aereo">	
							<md-icon>flight</md-icon>
							<span class="md-list-item-text">Aereo</span>
						</md-list-item>
						<md-list-item to="/treno">	
							<md-icon>directions_train</md-icon>
							<span class="md-list-item-text">Treno</span>
						</md-list-item>
					</md-list>
				</md-app-drawer>
				<md-app-content>				
					<router-view></router-view>	
				</md-app-content> 
			</md-app>
			<!--  
			Nella documentazione di Vue sta scritto chiaramente che un md-bottom-bar è ignorato da md-app, quindi lo mettiamo fuori.
			Any other tag passed as a direct child of the md-app tag will be ignored. The component will only look for those three tags and choose the right placement for them
			-->				
			<md-bottom-bar md-sync-route v-show="$vuetify.breakpoint.xs" :md-active-item="primoLivelloAttivo">
				<md-bottom-bar-item md-label="Percorsi" id="tagPercorsi" v-on:click="mostraPercorsi" md-icon="nature_people"></md-bottom-bar-item>
				<md-bottom-bar-item md-label="Auto" id="tagAuto" v-on:click="mostraAuto" md-icon="directions_car"></md-bottom-bar-item>
				<md-bottom-bar-item md-label="Aereo" id="tagAereo" v-on:click="mostraAereo" md-icon="flight"></md-bottom-bar-item>
				<md-bottom-bar-item md-label="Treno" id="tagTreno" v-on:click="mostraTreno" md-icon="directions_train"></md-bottom-bar-item>
			</md-bottom-bar>
		</div>
		
		 
		<script>
			// Inizializzazione di Vue material con le funzionalità di router
			Vue.use(VueMaterial.default);
			Vue.use(VueRouter);
			
			Vue.component('router-link', Vue.options.components.RouterLink);
			Vue.component('router-view', Vue.options.components.RouterView);
	
			var primoLivelloAttivo = "tagPercorsi";
			
			/* 	Questo spazio di memoria è condiviso fra tutti i componenti, i dati sono caricati solo alla creazione
				del componente che li mostra, quindi il momento più lento dunque è quello. */
			
			const percorsi = [];
			
			// La grigliaPercorsi è la schermata con le cards (foto, nome, stelline, bottoni) sui percorsi
			const grigliaPercorsi = Vue.component('grigliaPercorsi', {
				template: '#grigliaPercorsi',
				// LIFE CYCLE HOOK - chiamato automaticamente quando il componente viene creato
				mounted: function() {
					let qta_0 = 2;
					let totale_0 = 8;
					let media_calcolata_0 = totale_0 / qta_0;
					console.log(media_calcolata_0);
					percorsi.length = 0; // Svuoto l'array, per precauzione nel caso in cui precedenti esecuzioni su un'area di memoria condivisa avessero messo qualcosa qui
					percorsi.push({id: '55658b13e4b0025bfca70c32', qta:2, totale:10, media:0, commenti: ['bello','brutto'], titolo: "Bosco della città - Sentiero delle fiabe", titolo_immagine: "Sentiero delle fiabe", difficolta: '', descrizione: "Il Bosco della Città si tinge dei colori della fantasia: sarà il simpatico scoiattolino Gellindo Ghiandedoro ad accompagnarvi alla scoperta dei misteri e dei tesori della città di Rovereto raccontati dalle fiabe di Mauro Neri. Potrete ascoltare i racconti direttamente dalla viva voce del loro Autore e – una volta a casa – scaricare i testi delle fiabe e delle schede di approfondimento per leggerli assieme ai vostri amici. Perché la vera magia del Bosco della Città è proprio questa:insegnare a vivere la vita in amicizia con tutti!", url_immagine: "http://i.imgur.com/cW6eeb2.jpg", punti_interesse: [{titolo: 'Mart', url_immagine:'http://www2.comune.rovereto.tn.it/servizionline/extra/media/servizionline/cityaudiotour/images/01-mart.jpg'}]});
					percorsi.push({id: '55658b13e4b0025bfca70c33', qta:3, totale:5, media:0, commenti: ['a','b'], titolo: "Scopri Rovereto", titolo_immagine: "Mart", difficolta: '', descrizione: "Il Bosco della Città si tinge dei colori della fantasia: sarà il simpatico scoiattolino Gellindo Ghiandedoro ad accompagnarvi alla scoperta dei misteri e dei tesori della città di Rovereto raccontati dalle fiabe di Mauro Neri. Potrete ascoltare i racconti direttamente dalla viva voce del loro Autore e – una volta a casa – scaricare i testi delle fiabe e delle schede di approfondimento per leggerli assieme ai vostri amici. Perché la vera magia del Bosco della Città è proprio questa:insegnare a vivere la vita in amicizia con tutti!", url_immagine: "https://i2.wp.com/www.scheggemag.it/wp-content/uploads/2018/06/89961-Trentino-Area.jpg?fit=1200%2C675&resize=350%2C200", punti_interesse: [{titolo: 'Mart', url_immagine:'http://i.imgur.com/CwClqHJ.jpg'}] });
					
					percorsi[0].media=media_calcolata_0;
					percorsi[0].difficolta = "Facile";
					
					let qta_1 = 2;
					let totale_1 = 5;
					let media_calcolata_1 = totale_1 / qta_1;
					percorsi[1].media=media_calcolata_1;
					percorsi[1].difficolta = "Media";
					console.log(media_calcolata_1);
					// Leggi i dati da Firestore
					console.log("created di home eseguito");										
				},
				created: function() {
					eventBus.$emit('togliindietro');
				},
				data : function() {
					return {
						 percorsi : percorsi
					}
				},
				methods : {
					apriVideataSecondaria : function(componente, id) {
						const path = componente + id;
						console.log(path);
						router.push(path, function() { 
							console.log("onSuccess sul router");
							eventBus.$emit('mostraindietro');
						});
						
					}
				}
			}); 
	
			const aereo = Vue.component('aereo', {
													 template: '#aereo',
													 created : function() {
														eventBus.$emit('mostraindietro');	
													 }
									    		 });
			const treno = Vue.component('treno', {
													template: '#treno',
													created : function() {
														eventBus.$emit('mostraindietro');	
													}
												});
			const auto = Vue.component('auto', {
													template: '#auto',
													created : function() {
														eventBus.$emit('mostraindietro');	
													}				
												});
			
			function trovaPercorsoPerID(id) {
				console.log("ID del percorso cercato " + id);
				const arrayTrovato = percorsi.filter(function (p) {
										return p.id == id;
									});
				if (arrayTrovato.length == 0) {
					console.log("La ricerca di un percorso per id non ne ha trovato nessuno, ma uno era atteso");
					return {id: id, media: 0, titolo: "", commenti: []};
				}
				else // Ne ha trovato (almeno) uno, lo ritorna
					return arrayTrovato[0];
			}
			
			
			const valutazione = Vue.component('valutazione', {
												template: "#valutazione",
												computed: {
													percorso : function() { // this$.route è valorizzato dentro
														return trovaPercorsoPerID( this.$route.params.id );																							
													}
												},
												created : function() {
													eventBus.$emit('mostraindietro');	
												}	
											});
			
			const mappa = Vue.component('mappa', {
											template: '#mappa',
											methods: {
												mostrafoto: function(ind) {
													console.log('Devo mostrare la foto: ' + ind);
													eventBus.$emit('mostraindietro');
													router.push({ name: 'foto', params: {indirizzo: ind}});
												}
											},
											created : function() {
												eventBus.$emit('mostraindietro');	
											},	
											computed: {
												percorso : function() {
													return trovaPercorsoPerID( this.$route.params.id );
												}	
											}
										});
			
			/* Mostra la foto in grande dei punti di interesse. Trattandosi di belle foto e non
			   di disegni, anziché mostrarle in delle card, permettiamo di vedere un avatar in
			   un lista, poi di ingrandirla */ 
			const foto = Vue.component('foto', {
											template: '#foto',
											props: {
												indirizzo: String // URL della foto da mostrare
											},
											created : function() {
												eventBus.$emit('mostraindietro');	
											}											
										})	
		
			const router = new VueRouter({
				routes: [
					{path:'/grigliaPercorsi', component: grigliaPercorsi},
					// Metti un percorso su un singolo percorso, tipo {path: '/user/:id', component: User}, 
					{path:'/aereo', component: aereo},
					{path:'/treno', component: treno},
					{path:'/auto', component: auto},
					{path:'/valutazione/:id', component: valutazione},
					{path:'/mappa/:id', component: mappa},
					{path:'/foto/:indirizzo', name: 'foto', component: foto, props: true},
					{path:'*', component: grigliaPercorsi}
				]			
			})
			
			var eventBus = new Vue();
			
			// Esegue new Vue solo dopo aver caricato tutto, così non da errori o warning su elementi non dichiarati
			window.addEventListener("load", function(event) {
				
				var vm = new Vue({
					router: router,
					el:'#app',
					data: function() {
						return {
							primoLivelloAttivo: "tagPercorsi",
							indietroVisibile : false
						}
					},
					created: function() {
						eventBus.$on('mostraindietro', this.mostraBottoneIndietro.bind(this));
						eventBus.$on('togliindietro', this.togliBottoneIndietro.bind(this));
						
					},
					methods: {
						mostraBottoneIndietro: function() {
							console.log("dentro a mostraBottoneIndietro")
							this.indietroVisibile = true;	
						},
						togliBottoneIndietro: function() {
							console.log("dentro a togliBottoneIndietro")
							this.indietroVisibile = false;	
						},
						tornaIndietro: function() {
							// Non deve togliere sempre il bottone indietro, perché potrebbe essere arrivato al primo livello
							router.go(-1);
						},						
						mostraPercorsi: function(event) {
							console.log("percorsi");
							router.push("/percorsi");
						},
						mostraAuto: function(event) {
							console.log("auto");
							router.push("/auto");
						},
						mostraAereo: function(event) {
							console.log("aereo");
							router.push("/aereo");
						},
						mostraTreno: function(event) {
							console.log("treno");
							router.push("/treno");
						}
					}			
				})
		
			});
		</script>
		
		<template id="grigliaPercorsi">
			<div class="main-content">
				<span v-if="percorsi && percorsi.length > 0">
				<div class="md-layout md-gutter">
					<!-- Il layout è responsive, il numero di colonne di card che mostra cambia con la dimensione -->
					<div v-for="percorso in percorsi" class="md-layout-item md-size-33 md-medium-size-100 md-xsmall-size-100">
						<!-- Mostra il template, essendo per default quello con la scelta del percorso, mostrerà quello -->																		
						<md-card md-with-hover>
							<md-ripple>
								<md-card-header>
									<div class="md-title">{{percorso.titolo_immagine}}</div>
									<div class="md-subhead">Difficolt&agrave;: {{percorso.difficolta}}</div>
								</md-card-header>	
								<md-card-media md-medium>
									<img :src="percorso.url_immagine">
								</md-card-media>
								<md-card-content>
									{{percorso.titolo}} 
									<v-rating readonly 
										  v-model="percorso.media"
										  background-color="orange lighten-3" 
										  color="orange" medium/>
									
								</md-card-content>	
								
										  		  
						        <!-- Espansione della card con i bottoni e il trigger per mostrare il testo lungo -->
							    <md-card-expand>
							        <md-card-actions md-alignment="space-between">		
								      <!-- Mostra le stelline per la valutazione ma non permette di modificarle per errore  -->								              	
							          <div class="md-button-group">
							          	<md-button @click="apriVideataSecondaria('/mappa/',percorso.id)">Mappa</md-button>
							          	<md-button @click="apriVideataSecondaria('/valutazione/', percorso.id)">Valutazione</md-button>							           
							      	  </div>
							
							          <md-card-expand-trigger>
							            <md-button class="md-icon-button">
							              <md-icon>keyboard_arrow_down</md-icon>
							            </md-button>
							          </md-card-expand-trigger>
							        </md-card-actions>
	
						        	<md-card-expand-content>
						          		<md-card-content>{{percorso.descrizione}}</md-card-content>
						        	</md-card-expand-content>
						      	</md-card-expand>
								
							</md-ripple>							
						</md-card>
					</div>
				</div>	
				</span>
				<!-- Se non ha trovato percorsi, qualcosa è andato male con la ricezione dei dati dall'app,
					 quindi mette un messaggio. La clausola v-else entra in questo blocco -->
				<md-empty-state md-rounded md-label="Nessun percorso presente" 
								md-description="Controlla se il server con i percorsi di Rovereto risponde"
								v-else>
							
				</md-empty-state>
			</div>						
		</template>
		
		<template id="aereo">
			<div class="card-expansion">
			    <md-card>
			      <md-card-media>
			        <img src="http://i64.tinypic.com/2yuhpcl.jpg" alt="People">
			      </md-card-media>
			
			      <md-card-header>
			        <div class="md-title">Viaggio in aereo</div>
			        <div class="md-subhead">Indicazioni</div>
			      </md-card-header>
			
			      <md-card-expand>
			        <md-card-actions md-alignment="space-between">
			          <md-card-expand-trigger>
			            <md-button class="md-raised">Per saperne di pi&ugrave;</md-button>
			          </md-card-expand-trigger>
			        </md-card-actions>
			
			        <md-card-expand-content>
			          <md-card-content>
			          L'aeroporto più vicino a Rovereto è quello di Verona, da Mannheim quindi la tratta aerea consigliata è un volo diretto da Francoforte a Verona (FRA - VRN) della durata di 1h e 10 min con la compagnia Air Dolomiti.
			          Da Mannheim è possibile raggiungere l'aeroporto di Francoforte in 30 min di treno.
			          Dall'aeroporto di Verona in 15 min di autobus si arriva alla stazione dei treni e con 1 h 4 min di treno si giunge a destinazione a Rovereto.
			            </md-card-content>
			        </md-card-expand-content>
			      </md-card-expand>
			    </md-card>
			  </div>
		</template>
		
		<template id="treno">
			<div class="card-expansion"> 
			    <md-card>
			      <md-card-media>
			        <img src="http://i63.tinypic.com/1ftxxj.jpg" alt="People">
			      </md-card-media>
			
			      <md-card-header>
			        <div class="md-title">Viaggio in treno</div>
			        <div class="md-subhead">Indicazioni</div>
			      </md-card-header>
			
			      <md-card-expand>
			        <md-card-actions md-alignment="space-between">
			          <md-card-expand-trigger>
			            <md-button class="md-raised">Per saperne di pi&ugrave;</md-button>
			          </md-card-expand-trigger>
			        </md-card-actions>
			
			        <md-card-expand-content>
			          <md-card-content>
			          E' possibile giungere a Rovereto da Mannheim tramite il treno con la Deutsche Bahn (DB).
			          Partendo dalla stazione di Mannheim (Mannheim Hbf) in 3 ore si arriva in stazione a Monaco di Baviera (München Hbf). Qui si prende la coincidenza e in 4 h e 40 min si giunge a destinazione a Rovereto.
			          In base all'orario di partenza varia il tempo di attesa per la coincidenza (da pochi minuti a un'ora e mezza) e in certi casi è necessario fare un secondo cambio.
			        </md-card-content>
			        </md-card-expand-content>
			      </md-card-expand>
			    </md-card>
			  </div>
		</template>
		
		<template id="auto">
			 <div class="card-expansion">
 
		    <md-card>
	
		      <md-card-header>
		        <div class="md-title">Viaggio in auto</div>
		        <div class="md-subhead">Indicazioni</div>
		      </md-card-header>
				<!-- Chiama Google Maps ma scade, proviamo con Open Street Map -->
		              <center><a href="https://www.google.com/maps/dir/?api=1&origin=Mannheim+Germania&destination=Rovereto+38068+TN&travelmode=driving">Clicca qui per aprire la mappa di google</a>
				</center>
		
		      <md-card-expand>
		        <md-card-actions md-alignment="space-between">
		
		          <md-card-expand-trigger>
		            <md-button>Per saperne di pi&ugrave;</md-button>
		          </md-card-expand-trigger>
		        </md-card-actions>
		
		        <md-card-expand-content>
		          <md-card-content>
					         Per raggiungere Rovereto, in Trentino Alto Adige, da Mannheim in auto il percorso più breve attraversa l'Austria e prevede una durata di circa 7 ore per un totale di 640km.
					Si percorrono le seguenti autostrade: A5, A8, A7, A12 e E45 prendendo poi l'uscita per Rovereto Nord. 
					Se si desidera arrivare in centro a Rovereto si prosegue su Via Degll Alpini/Via Lagarina e infine si percorre Via Statale 12/SS12 in direzione di Piazza Antonio Rosmini.
				  </md-card-content>
		        </md-card-expand-content>
		      </md-card-expand>
		    </md-card>
		  </div>
		</template>
		
		<template id="valutazione">
			<div class="main-content">
				Valutazione per: {{ percorso.titolo }}
				
				
			</div>
		</template>		
		
		<template id="mappa">		
			<div class="main-content">
				Mappa per: {{ percorso.titolo }}
				<md-list>					
					<md-list-item v-for="(punto,index) in percorso.punti_interesse" 
								  v-bind:key="index"
								  @click="mostrafoto(punto.url_immagine)"
								  >
						<md-avatar>
							<img :src="punto.url_immagine"/>
						</md-avatar>
						<span class="md-list-item-text">{{punto.titolo}}</span>
					</md-list-item>
				<md-list>
			</div>
		</template>
		
		<template id="foto">
			<div class="md-layout md-alignment-top-center">
				<!-- Non usiamo la md-card per non mandare le foto piccole a schermo intero -->	
				<img :src="indirizzo"/>
			</div>
		</template>
	</body>
</html>